* {
  margin: 0px;
}

.header {
  height: 100px;
  background-color: black;
  left: 0;
  top: 0;
  right: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  flex: 100px 100px 1fr 100px;
}

.header-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-1, .header-3 {
  height: 100px;
  width: 200px;
}

.header-2 {
  width: 800px;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-2 a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.3s ease-in;
}

.header-3 {
  width: 100%;
}

.header-4 {
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-4 button {
  width: 150px;
  height: 50px;
  background-color: orange;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bolder;
}

.header-1 {
  width: 200px;
  height: 100px;
}

.header-2 a:hover {
  text-decoration:underline;
  text-decoration-line:underline;
  text-underline-offset: 10px;
}

.un {
  transition: 300ms;
  border-bottom: 1px solid transparent;
}

.un:hover {
  border-color: black;
}


